In [2]:
# Import dependencies
import pandas as pd
import matplotlib as plt
import numpy as np
import scipy.stats as stats

In [3]:
# Define data file path
liver_path = "../liver_cirrhosis.csv/liver_cirrhosis.csv"

# Read in the CSV
liver_data = pd.read_csv(liver_path)

# Put into pandas dataframe
liver_df = pd.DataFrame(liver_data)

# Preview the dataframe
liver_df

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.000000,4.04,227.0,598.0,52.70,57.000000,256.0,9.9,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.000000,3.93,22.0,663.0,45.00,75.000000,220.0,10.8,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.000000,3.54,51.0,1243.0,122.45,80.000000,225.0,10.0,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.000000,3.74,23.0,1024.0,77.50,58.000000,151.0,10.2,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.000000,3.54,74.0,1052.0,108.50,109.000000,151.0,11.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2
24996,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,231.000000,3.87,173.0,9009.8,127.71,96.000000,295.0,11.0,2
24997,971,D,D-penicillamine,16736,F,N,Y,Y,Y,5.1,369.510563,3.23,18.0,790.0,179.80,124.702128,104.0,13.0,3
24998,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2
24999,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.0,1637.0,170.50,70.000000,426.0,10.9,2

In [4]:
# Get basic info
liver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         25000 non-null  int64
 1   Status         25000 non-null  object
 2   Drug           25000 non-null  object
 3   Age            25000 non-null  int64
 4   Sex            25000 non-null  object
 5   Ascites        25000 non-null  object
 6   Hepatomegaly   25000 non-null  object
 7   Spiders        25000 non-null  object
 8   Edema          25000 non-null  object
 9   Bilirubin      25000 non-null  float64
 10  Cholesterol    25000 non-null  float64
 11  Albumin        25000 non-null  float64
 12  Copper         25000 non-null  float64
 13  Alk_Phos       25000 non-null  float64
 14  SGOT           25000 non-null  float64
 15  Tryglicerides  25000 non-null  float64
 16  Platelets      25000 non-null  float64
 17  Prothrombin    25000 non-null  float64
 18  Stage          25000 non-null  int64
dtypes: float64(9), int64(3), object(7)
memory usage: 3.6+ MB

In [5]:
# Check column names
liver_df.columns

Index(['N_Days', 'Status', 'Drug', 'Age', 'Sex', 'Ascites', 'Hepatomegaly',
       'Spiders', 'Edema', 'Bilirubin', 'Cholesterol', 'Albumin', 'Copper',
       'Alk_Phos', 'SGOT', 'Tryglicerides', 'Platelets', 'Prothrombin',
       'Stage'],
      dtype='object')

In [6]:
# Find duplicate rows using N_Days and Age
# unique_patients = liver_df.drop_duplicates(subset=['N_Days', 'Status', 'Drug', 'Age', 'Sex', 'Ascites', 'Hepatomegaly',
#        'Spiders', 'Edema', 'Bilirubin', 'Cholesterol', 'Albumin', 'Copper',
#        'Alk_Phos', 'SGOT', 'Tryglicerides', 'Platelets', 'Prothrombin',
#        'Stage'])
# unique_patients

patient_repeats = liver_df.loc[liver_df.duplicated(['N_Days', 'Status', 'Drug', 'Age', 'Sex', 'Ascites', 'Hepatomegaly',
       'Spiders', 'Edema', 'Bilirubin', 'Cholesterol', 'Albumin', 'Copper',
       'Alk_Phos', 'SGOT', 'Tryglicerides', 'Platelets', 'Prothrombin',
       'Stage'])]

patient_repeats

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
51,2224,C,Placebo,17874,F,N,Y,N,N,0.9,346.000000,3.37,81.000000,1098.000000,122.450000,90.000000,298.0,10.0,1
69,2224,C,Placebo,17874,F,N,Y,N,N,0.9,346.000000,3.37,81.000000,1098.000000,122.450000,90.000000,298.0,10.0,1
107,681,D,Placebo,11462,F,N,N,N,N,1.2,369.510563,2.96,97.648387,1982.655769,122.556346,124.702128,293.0,10.9,2
149,617,CL,Placebo,15341,F,Y,N,Y,N,5.5,369.510563,2.31,97.648387,1982.655769,122.556346,124.702128,102.0,10.8,3
154,1170,C,Placebo,16658,F,N,Y,Y,S,1.3,369.510563,3.41,97.648387,1982.655769,122.556346,124.702128,430.0,11.9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,231.000000,3.87,173.000000,9009.800000,127.710000,96.000000,295.0,11.0,2
24996,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,231.000000,3.87,173.000000,9009.800000,127.710000,96.000000,295.0,11.0,2
24997,971,D,D-penicillamine,16736,F,N,Y,Y,Y,5.1,369.510563,3.23,18.000000,790.000000,179.800000,124.702128,104.0,13.0,3
24998,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.000000,1637.000000,170.500000,70.000000,426.0,10.9,2
24999,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,315.000000,4.24,13.000000,1637.000000,170.500000,70.000000,426.0,10.9,2

In [7]:
liver_clean_df = liver_df.drop_duplicates(subset=None, keep='first', inplace=False)
liver_clean_df

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,149.000000,4.04,227.000000,598.000000,52.700000,57.000000,256.0,9.9,1
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,219.000000,3.93,22.000000,663.000000,45.000000,75.000000,220.0,10.8,2
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,320.000000,3.54,51.000000,1243.000000,122.450000,80.000000,225.0,10.0,2
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,255.000000,3.74,23.000000,1024.000000,77.500000,58.000000,151.0,10.2,2
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,486.000000,3.54,74.000000,1052.000000,108.500000,109.000000,151.0,11.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24963,3577,C,Placebo,17897,F,Y,N,Y,N,0.7,369.510563,3.49,97.648387,1982.655769,122.556346,124.702128,243.0,9.7,1
24971,4795,C,Placebo,23376,F,Y,N,Y,N,1.8,369.510563,3.24,97.648387,1982.655769,122.556346,124.702128,139.0,10.5,1
24972,3358,D,D-penicillamine,24585,F,N,Y,N,N,2.1,262.000000,3.48,58.000000,2045.000000,89.900000,84.000000,412.0,11.8,3
24991,4365,C,D-penicillamine,21324,F,N,N,N,N,0.9,346.000000,3.40,81.000000,1098.000000,122.450000,90.000000,228.0,10.3,2
24992,694,D,D-penicillamine,28650,M,Y,Y,Y,N,0.8,300.000000,2.94,231.000000,1794.000000,130.200000,99.000000,97.0,11.2,3

In [8]:
liver_clean_df.to_csv("cleaned_csvs/liver_clean.csv")

### Split the 'Stage' column into columns 'Stage 1', 'Stage 2', 'Stage 3'. Save a copy of this df to a csv for later machine learning if we don't want to use softmax (since the stage column has three outputs instead of 2)

In [9]:
# Check the unique values in the 'Stage' column to verify the stages are 1, 2, and 3
stage_count = liver_df['Stage'].unique()
stage_count

array([1, 2, 3], dtype=int64)

In [10]:
# Create new columns

# Copy df to maintain original, add boolean to name
liver_boolean_df = liver_df.copy()

# Separate the 'Stage' column into 
liver_boolean_df['Stage_1'] = liver_boolean_df.loc[liver_boolean_df['Stage'] == 1, 'Stage']
liver_boolean_df['Stage_2'] = liver_boolean_df.loc[liver_boolean_df['Stage'] == 2, 'Stage']
liver_boolean_df['Stage_3'] = liver_boolean_df.loc[liver_boolean_df['Stage'] == 3, 'Stage']
liver_boolean_df.head()

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,...,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Stage_1,Stage_2,Stage_3
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,...,227.0,598.0,52.70,57.0,256.0,9.9,1,1.0,NaN,NaN
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,...,22.0,663.0,45.00,75.0,220.0,10.8,2,NaN,2.0,NaN
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,...,51.0,1243.0,122.45,80.0,225.0,10.0,2,NaN,2.0,NaN
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,...,23.0,1024.0,77.50,58.0,151.0,10.2,2,NaN,2.0,NaN
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,...,74.0,1052.0,108.50,109.0,151.0,11.5,1,1.0,NaN,NaN

In [11]:
# Convert the stage columns to boolean
liver_boolean_df['Stage_1'] = pd.notnull(liver_boolean_df['Stage_1'])
liver_boolean_df['Stage_2'] = pd.notnull(liver_boolean_df['Stage_2'])
liver_boolean_df['Stage_3'] = pd.notnull(liver_boolean_df['Stage_3'])

liver_boolean_df

,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,...,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Stage_1,Stage_2,Stage_3
0,2221,C,Placebo,18499,F,N,Y,N,N,0.5,...,227.0,598.0,52.70,57.000000,256.0,9.9,1,True,False,False
1,1230,C,Placebo,19724,M,Y,N,Y,N,0.5,...,22.0,663.0,45.00,75.000000,220.0,10.8,2,False,True,False
2,4184,C,Placebo,11839,F,N,N,N,N,0.5,...,51.0,1243.0,122.45,80.000000,225.0,10.0,2,False,True,False
3,2090,D,Placebo,16467,F,N,N,N,N,0.7,...,23.0,1024.0,77.50,58.000000,151.0,10.2,2,False,True,False
4,2105,D,Placebo,21699,F,N,Y,N,N,1.9,...,74.0,1052.0,108.50,109.000000,151.0,11.5,1,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,...,173.0,9009.8,127.71,96.000000,295.0,11.0,2,False,True,False
24996,3584,D,D-penicillamine,23612,F,N,N,N,N,0.8,...,173.0,9009.8,127.71,96.000000,295.0,11.0,2,False,True,False
24997,971,D,D-penicillamine,16736,F,N,Y,Y,Y,5.1,...,18.0,790.0,179.80,124.702128,104.0,13.0,3,False,False,True
24998,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,...,13.0,1637.0,170.50,70.000000,426.0,10.9,2,False,True,False
24999,3707,C,D-penicillamine,16990,F,N,Y,N,N,0.8,...,13.0,1637.0,170.50,70.000000,426.0,10.9,2,False,True,False

In [12]:
# Export boolean df to csv for future use
liver_boolean_df.to_csv("cleaned_csvs/liver_boolean.csv")